<div class="py-6">
    <div class="row">
        <div *ngFor="let project of projects" class="col-xl-4 col-lg-6 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100">
              <!-- card body -->
              <div class="card-body">
                <!-- heading-->
                <div class="d-flex align-items-center
                  justify-content-between">
                  <div class="d-flex align-items-center
                    justify-content-between">
                    <!-- icon-->
                    <div>
                      <img [src]="project.image" alt="Image" class="img-4by3-sm rounded">
                    </div>
                    <!-- text-->
                    <div class="ms-3">
        
                      <h4 class="mb-0">
                        <a class="text-inherit">{{ project.name }}</a>
                      </h4>
                    </div>
                  </div>
                  <!-- dropdown-->
                  <div class="d-flex align-items-center">
                    <a href="#!" class="btn btn-ghost btn-icon btn-sm rounded-circle"><i data-feather="star"
                        class="icon-xs"></i></a>
                    <div class="dropdown dropstart">
                      <a href="#!" class="btn btn-ghost btn-icon btn-sm rounded-circle" id="dropdownProjectOne"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-xs" data-feather="more-vertical"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownProjectOne">
                        <a class="dropdown-item d-flex align-items-center" href="#!">Action</a>
                        <a class="dropdown-item d-flex align-items-center" href="#!">Another action</a>
                        <a class="dropdown-item d-flex align-items-center" href="#!">Something else
                          here</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- para-->
                <div class="my-4">
                  <p class="mb-0">{{ project.description }}</p>
                </div>
                <!-- date and budget-->
                <div class="row g-2 mb-4">
                  <!-- col -->
                  <div class="col-xl-6 col-lg-12 col-12 mb-1 mb-lg-1
                    mb-xl-0">
                    <div class="border border-dashed rounded-3 p-2
                      text-center ">
                      <span class="lh-1"><span class="me-1 text-muted">Start Date:</span><span class="text-dark font-weight-medium">{{ project.start_date | date:'dd MMMM yyyy' }}</span></span>
                    </div>
                  </div>
                  <!-- col -->
                  <div class="col-xl-6 col-lg-12 col-12">
                    <div class="border border-dashed rounded-3 p-2
                      text-center ">
                      <span class="lh-1"><span class="me-1 text-muted">Due Date:</span><span class="text-dark font-weight-medium">{{ project.end_date | date:'dd MMMM yyyy' }}</span></span>
                    </div>
                  </div>
                </div>
                <!-- progress -->
                <div class="d-flex justify-content-between
                  align-items-center mb-6">
                  <div class="d-flex align-items-center">
                    <!-- avatar group -->
                    <div class="avatar-group">
                        <ng-container *ngFor="let member of project.members">
                            <span class="avatar avatar-sm">
                              <!-- Check if profile image exists -->
                              <img *ngIf="member.user.image" [src]="member.user.image" alt="avatar" class="rounded-circle imgtooltip" [attr.data-template]="member.name">
                              <span [id]="member.user.name" class="d-none">
                                <small class="mb-0">{{ member.user.name }}</small>
                              </span>
                            </span>
                          </ng-container>
                    </div>
                  </div>
                  <!-- text -->
                  <div>
                    <span class="ml-auto badge" [ngClass]="project.status | status"> {{ project.status | uppercase }} </span>
                  </div>
                </div>
                <div>
                  <!-- progress bar -->
                  <div class="d-flex justify-content-between
                    align-items-center mb-1">
                    <!-- text -->
                    <div>
                      <h5>Progress</h5>
                    </div>
                    <!-- number text -->
                    <div>
                      <span class="text-dark">{{ project.progress_percentage }}%</span>
                    </div>
                  </div>
                  <div class="progress" style="height: 6px;">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="project.progress_percentage"
                        [attr.aria-valuenow]="project.progress_percentage"
                        aria-valuemin="0"
                        aria-valuemax="100">   
                    </div>
                  </div>
                </div>
              </div>
              <!-- card footer -->
              <div class="card-footer">
                <span class="me-3 "><i class="align-middle icon-xs text-muted me-2
                    " data-feather="list"></i>{{ project.total_features}} feature</span>
                <span class="me-3 "><i class="align-middle icon-xs text-muted me-2
                    " data-feather="message-square"></i>{{ project.total_tasks}} tasks</span>
                <span><i class="align-middle icon-xs text-muted me-2
                    "  data-feather="folder"></i>30+ Files</span>
              </div>
            </div>
        </div>
    </div>
</div>