<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div class="mb-5">
        <h3 class="mb-0">Edit User</h3>
      </div>
    </div>
  </div>
  <div>
    <!-- row -->
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12">
        <!-- card -->
        <div class="card card-info mb-5">
          <div class="card-header">
            <h5 class="card-title mb-0">
              Form Project Information Entry
              <span class="text-dark font-weight-bold"
                >(<span class="text-danger font-weight-bold"> * </span> Required
                field)</span
              >
            </h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="updateEmployee()">
                <div class="row">
                    <div class="mb-4 col-6">
                      <label class="form-label"
                        >Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="Enter Employee Name"
                        required
                        [(ngModel)]="employee.name"
                      />
                    </div>
                    <div class="mb-4 col-6">
                      <label class="form-label"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Enter Employee Email"
                        required
                        [(ngModel)]="employee.email"
                      />
                    </div>
                    <div class="mb-4 col-6">
                      <label class="form-label"
                        >Password <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        placeholder="Enter Employee Phone"
                        required
                        [(ngModel)]="employee.password"
                      />
                    </div>
                    <div class="mb-4 col-6">
                      <label class="form-label"
                        >Password Confirmation <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        placeholder="Enter Employee Phone"
                        required
                        [(ngModel)]="employee.password_confirmation"
                        #phoneField="ngModel"
                        [ngClass]="{ 'invalid-input': phoneField.invalid && (phoneField.dirty || phoneField.touched) }"
                      />
                      <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="error-message">
                        Password Confirmation is required
                      </div>
                    </div>
                    <div class="mb-4 col-md-12 col-12">
                      <label class="form-label">Role</label>
                      <select class="form-select" name="roles" [(ngModel)]="employee.roles" required>
                        <option value="">Select Role</option>
                        <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <div>
                          <div class="mb-4 d-flex justify-content-center">
                              <img id="selectedImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                                  alt="example placeholder" style="width: 300px;" />
                          </div>
                          <div class="d-flex justify-content-center">
                              <label for="customFile1" class="btn btn-primary btn-rounded">
                                  <span class="form-label text-white m-1">Choose file</span>
                                  <input type="file" class="form-control d-none" id="customFile1" (change)="onFileSelected($event)" />
                              </label>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6 d-grid gap-2 col-6 mx-auto">
                      <button class="btn btn-block btn-dark" routerLink="/dashboard/employees">Back</button>
                    </div>
                    <div class="col-6 d-grid gap-2 col-6 mx-auto">
                      <button type="submit" class="btn btn-info btn-block">
                        Save
                      </button>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
