<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="mb-5">
          <h3 class="mb-0">Project List</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-between mb-4 mb-xl-0">
      <div class="col-xl-2 col-lg-4 col-md-6 col-12">
        <div class="mb-lg-4 mb-2">
          <input type="search" class="form-control" placeholder="Search by project name" [(ngModel)]="searchKeyword" (input)="search()">
        </div>
      </div>
      <div class="col-xxl-1 col-lg-2 col-md-6 col-12">
        <select class="form-select" #statusSelect (change)="filterByStatus(statusSelect.value)">
          <option value="">Filter By Status</option>
          <!-- <option value="In Progress">In Progress</option> -->
          <option value="pending">Pending</option>
          <option value="planning">Planning</option>
          <option value="completed">Completed</option>
          <!-- <option value="waiting_for_info">Waiting_for_info</option> -->
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table mb-0 text-nowrap table-centered">
              <thead class="table-light">
                <tr>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Project Name</th>
                  <th>Status</th>
                  <th>Team</th>
                  <!-- <th>Start</th> -->
                  <th>Deadline</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td>{{ project.id }}</td>
                  <!-- <td class="name"><img [src]="project.image" alt="Post Image" style="width: 50px; height: 50px;"></td> -->
                  <td><img [src]="project.image" alt="Post Image" class="img-4by3-xs rounded"></td>
                  <!-- <td [innerHTML]="project.status | status"></td> -->
                  <td>{{ project.name }}</td>
                  <td>
                    <span class="ml-auto badge" [ngClass]="project.status | status"> {{ project.status | uppercase }} </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <!-- Loop through members -->
                      <ng-container *ngFor="let member of project.members">
                        <span class="avatar avatar-sm">
                          <!-- Check if profile image exists -->
                          <img *ngIf="member.image_url" [src]="member.image_url" alt="avatar" class="rounded-circle imgtooltip" [attr.data-template]="member.name">
                          <span [id]="member.name" class="d-none">
                            <small class="mb-0">{{ member.name }}</small>
                          </span>
                        </span>
                      </ng-container>
                    </div>
                  </td>
                  <!-- <td>
                    {{ project.start_date | date:'dd MMMM, yyyy' }}
                  </td> -->
                  <td>
                    {{ project.end_date | date:'dd MMMM, yyyy' }}
                  </td>
                  <td>
                    <button class="me-1 btn btn-sm btn-outline-info" [routerLink]="['/dashboard/show-project', project.id]">Show</button>
  
                    <button
                      class="me-1 btn btn-sm btn-outline-primary"
                      routerLink="/dashboard/edit-project/{{ project.id }}"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal-2" (click)="setProjectToDelete(project.id, project.name)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <tr>
                    <td  colspan="7">
                      <div class="d-flex align-items-center">
                        <a href="#!" class="text-muted border border-2 rounded-3 card-dashed-hover"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        <div class="icon-shape icon-lg fs-3 ">
                          +
                        </div>
                      </a>
                        <div class="ms-3">
                          <h4 class="mb-0 fs-5"><a routerLink="/dashboard/add-project" class="text-inherit">New Project</a></h4>
                        </div>
                      </div>
                    </td>

                  </tr>
              </tbody>
            </table>
          </div>
          <div
            class="modal fade"
            id="exampleModal-2"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Project Data
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete <strong>{{ projectToDeleteName }}</strong>?
                  <input type="text" class="form-control" [(ngModel)]="confirmationProjectName" placeholder="Type project name">
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDeleteProject()">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  