<div class="bg-primary pt-10 pb-21 mt-n6 mx-n4"></div>
      <div class="container-fluid mt-n22">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="d-flex justify-content-between align-items-center mb-5">
              <div class="mb-2 mb-lg-0">
                <h3 class="mb-0 text-white">Projects</h3>
              </div>
              <div>
                <a routerLink="/dashboard/add-project" class="btn btn-white">Create New Project</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100 card-lift">
              <!-- card body -->
              <div class="card-body">
                <!-- heading -->
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div>
                    <h4 class="mb-0">Projects</h4>
                  </div>
                  <div
                    class="icon-shape icon-md bg-primary-soft text-primary rounded-2"
                  >
                    <!-- <i data-feather="briefcase" height="20" width="20"></i> -->
                    <i class="bi bi-briefcase-fill"></i>
                  </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                  <h1 class="mb-1 fw-bold">{{ data.total_project }}</h1>
                  <p class="mb-0">
                    <span class="text-dark me-2">2</span>Completed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100 card-lift">
              <!-- card body -->
              <div class="card-body">
                <!-- heading -->
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div>
                    <!-- <h4 class="mb-0">Active Task</h4> -->
                    <h4 class="mb-0">Feature</h4>
                  </div>
                  <div
                    class="icon-shape icon-md bg-primary-soft text-primary rounded-2"
                  >
                    <!-- <i data-feather="list" height="20" width="20"></i> -->
                    <i class="bi bi-list-ul"></i>
                  </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                  <h1 class="mb-1 fw-bold">{{ data.total_feature}}</h1>
                  <p class="mb-0">
                    <span class="text-dark me-2">28</span>Completed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100 card-lift">
              <!-- card body -->
              <div class="card-body">
                <!-- heading -->
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div>
                    <!-- <h4 class="mb-0">Teams</h4> -->
                    <h4 class="mb-0">Tasks</h4>
                  </div>
                  <div
                    class="icon-shape icon-md bg-primary-soft text-primary rounded-2"
                  >
                    <!-- <i data-feather="users" height="20" width="20"></i> -->
                    <i class="bi bi-people-fill"></i>
                  </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                  <h1 class="mb-1 fw-bold">{{ data.total_task}}</h1>
                  <p class="mb-0">
                    <span class="text-dark me-2">1</span>Completed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100 card-lift">
              <!-- card body -->
              <div class="card-body">
                <!-- heading -->
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div>
                    <!-- <h4 class="mb-0">Teams</h4> -->
                    <h4 class="mb-0">Members</h4>
                  </div>
                  <div
                    class="icon-shape icon-md bg-primary-soft text-primary rounded-2"
                  >
                    <!-- <i data-feather="users" height="20" width="20"></i> -->
                    <i class="bi bi-people-fill"></i>
                  </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                  <h1 class="mb-1 fw-bold">{{ data.total_member}}</h1>
                  <p class="mb-0">
                    <span class="text-dark me-2">1</span>Completed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-5">
            <div class="card h-100 card-lift">
              <div class="card-body">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div>
                    <h4 class="mb-0">Productivity</h4>
                  </div>
                  <div
                    class="icon-shape icon-md bg-primary-soft text-primary rounded-2"
                  >
                    <i class="bi bi-bullseye"></i>
                  </div>
                </div>
                <div class="lh-1">
                  <h1 class="mb-1 fw-bold">76%</h1>
                  <p class="mb-0">
                    <span class="text-success me-2">5%</span>Completed
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- row  -->
        <div class="row">
          <div class="col-xl-8 col-12 mb-5">
            <!-- card  -->
            <div class="card h-100">
              <!-- card header  -->
              <div class="card-header">
                <h4 class="mb-0">Active Projects</h4>
              </div>
              <!-- table  -->
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    class="table text-nowrap mb-0 table-centered table-hover"
                  >
                    <thead class="table-light">
                      <tr>
                        <th>Project name</th>
                        <th>Status</th>
                        <th>Members</th>
                        <th>Progress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pro of project">
                        <td>
                          <div class="d-flex align-items-center">
                            <div>
                              <div>
                                <img
                                  [src]="pro.image" alt="Post Image" class="img-4by3-xs rounded"
                                />
                              </div>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class="mb-1">
                                <a href="#!" class="text-inherit"
                                  >{{ pro.name }}</a
                                >
                              </h5>
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="ml-auto badge" [ngClass]="pro.status | status"> {{ pro.status | uppercase }} </span>
                        </td>
                        <td>
                          <div class="avatar-group">
                            <!-- Loop through members -->
                            <ng-container *ngFor="let member of pro.members">
                              <span class="avatar avatar-sm">
                                <!-- Check if profile image exists -->
                                <img *ngIf="member.user.image" [src]="member.user.image" alt="avatar" class="rounded-circle imgtooltip" [attr.data-template]="member.user.name">
                                <span [id]="member.user.name" class="d-none">
                                  <small class="mb-0">{{ member.user.name }}</small>
                                </span>
                              </span>
                            </ng-container>
                          </div>
                        </td>
                        <td class="text-dark">
                          <div class="float-start me-3">{{ pro.progress_percentage }}%</div>
                          <div class="mt-2">
                            <div class="progress" style="height: 5px">
                              <div
                                class="progress-bar"
                                role="progressbar"
                                [style.width.%]="pro.progress_percentage"
                                [attr.aria-valuenow]="pro.progress_percentage"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- card footer  -->
              <div class="card-footer text-center">
                <a routerLink="/dashboard/projects" class="btn btn-primary">View All Projects</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-5">
            <!-- card  -->
            <div class="card h-100">
              <!-- card body  -->
              <div
                class="card-header d-flex align-items-center justify-content-between"
              >
                <div>
                  <h4 class="mb-0">Tasks Performance</h4>
                </div>

                <!-- dropdown  -->
                <div class="dropdown dropstart">
                  <a
                    class="btn btn-icon btn-ghost btn-sm rounded-circle"
                    href="#!"
                    role="button"
                    id="dropdownTask"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="icon-xs" data-feather="more-vertical"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownTask">
                    <a class="dropdown-item d-flex align-items-center" href="#!"
                      >Action</a
                    >
                    <a class="dropdown-item d-flex align-items-center" href="#!"
                      >Another action</a
                    >
                    <a class="dropdown-item d-flex align-items-center" href="#!"
                      >Something else here</a
                    >
                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- chart  -->
                <div class="mb-6">
                  <canvas baseChart
                          [labels]="doughnutChartLabels"
                          [datasets]="doughnutChartDatasets"
                          [options]="doughnutChartOptions"
                          [legend]="true"
                          [type]="'doughnut'">
                  </canvas>
                </div>
                <!-- icon with content  -->
                <div class="d-flex align-items-center justify-content-around">
                  <div class="text-center">
                    <i class="bi bi-check text-success fs-1"></i>
                    <h1 class="fs-2 mb-0">{{ percent.completedPercentage }}%</h1>
                    <p>Completed</p>
                  </div>
                  <div class="text-center">
                    <i class="bi bi-graph-up text-warning fs-1"></i>
                    <h1 class="fs-2 mb-0">{{ percent.inProgressPercentage }}%</h1>
                    <p>In-Progress</p>
                  </div>
                  <div class="text-center">
                    <i class="bi bi-graph-down text-danger fs-1"></i>
                    <h1 class="fs-2 mb-0">{{ percent.behindPercentage }}%</h1>
                    <p>Behind</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row  -->
        <div class="row">
          <!-- card  -->
          <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5 mb-xl-0">
            <div class="card h-100">
              <!-- card header  -->
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <h4 class="mb-0">My Task</h4>
                <div class="dropdown">
                  <a
                    class="btn btn-outline-white btn-sm dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Task
                  </a>

                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- table  -->
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    class="table text-nowrap mb-0 table-centered table-hover"
                  >
                    <thead class="table-light">
                      <tr>
                        <th>Name</th>
                        <th>Deadline</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tas of task">
                        <td>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                              id="flexCheckOne"
                            />
                            <label class="form-check-label" for="flexCheckOne">
                              {{ tas.name }}
                            </label>
                          </div>
                        </td>
                        <td>{{ tas.end_date | date:'dd MMMM yyyy'}}</td>
                        <td>
                          <span class="ml-auto badge" [ngClass]="tas.status | status"> {{ tas.status | uppercase }} </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- card  -->
          <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5 mb-xl-0">
            <div class="card">
              <!-- card header  -->
              <div class="card-header">
                <h4 class="mb-0">Teams</h4>
              </div>
              <!-- table  -->
              <div class="card-body">
                <div
                  class="table-responsive table-card"
                  data-simplebar=""
                  style="max-height: 380px"
                >
                  <table
                    class="table text-nowrap mb-0 table-centered table-hover"
                  >
                    <thead class="table-light">
                      <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mem of member">
                        <td>
                          <div class="d-flex align-items-center">
                            <div>
                              <a href="#!"
                                ><img
                                  [src]="mem.user.image" alt="Post Image"
                                  alt="Image"
                                  class="avatar-md avatar rounded-circle"
                              /></a>
                            </div>
                            <div class="ms-3 lh-1">
                              <h5 class="mb-1">
                                <a href="#!" class="text-inherit"
                                  >{{ mem.user.name }}</a
                                >
                              </h5>
                              <p class="mb-0">{{ mem.user.email }}</p>
                            </div>
                          </div>
                        </td>
                        <td>{{ mem.designation.name }}</td>
                        <td>{{ mem.created_at | date:'dd MMMM yyyy' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>