<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div class="mb-5">
          <h3 class="mb-0">Tasks</h3>
        </div>
      </div>
    </div>
    <div>
      <!-- row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-md-flex border-bottom-0">
              <div class="flex-grow-1">
                <a routerLink="/dashboard/add-task" class="btn btn-primary">+ Add Task</a>
              </div>
              <div class="d-flex mt-3 mt-md-0">
                <input type="search" class="form-control me-2" placeholder="Search by category name" [(ngModel)]="searchKeyword" (input)="search()">
                <a
                  href="#!"
                  class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                  data-template="settingOne"
                >
                  <i class="bi bi-gear-fill"></i>
                  <div id="settingOne" class="d-none">
                    <span>Setting</span>
                  </div>
                </a>
  
                <a href="#!" class="btn btn-outline-white ms-2">Import</a>
                <a href="#!" class="btn btn-outline-white ms-2">Export</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive table-card">
                <table
                  id="example"
                  class="table text-nowrap table-centered mt-0"
                  style="width: 100%"
                >
                  <thead class="table-light">
                    <tr>
                      <th class="ps-4">ID</th>
                      <th>Name</th>
                      <th>Assignee</th>
                      <th>Status</th>
                      <th>Priority</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let task of tasks">
                      <td>{{ task.id }}</td>
                      <td>{{ task.name }}</td>
                      <td>
                        <div class="avatar-group">
                            <!-- Loop through members -->
                            <ng-container *ngFor="let member of task.members">
                              <span class="avatar avatar-sm">
                                <!-- Check if profile image exists -->
                                <img *ngIf="member.user.image_url" [src]="member.user.image_url" alt="avatar" class="rounded-circle imgtooltip" [attr.data-template]="member.name">
                                <span [id]="member.user.name" class="d-none">
                                  <small class="mb-0">{{ member.name }}</small>
                                </span>
                              </span>
                            </ng-container>
                          </div>
                      </td>
                      <td>
                        <span class="ml-auto badge" [ngClass]="task.status | status">
                        {{ task.status | uppercase }}
                      </span>
                      </td>
                      <td>
                        <span class="ml-auto badge" [ngClass]="task.priority | priority">
                        {{ task.priority | uppercase }}
                      </span>
                      </td>
                      <td>
                        <button
                          class="me-1 btn btn-sm btn-info"
                          routerLink="/dashboard/show-task/{{ task.id }}"
                        >
                          Show
                        </button>
                        <button
                          class="me-1 btn btn-sm btn-primary"
                          routerLink="/dashboard/edit-task/{{ task.id }}"
                        >
                          Edit
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal-2"
                          (click)="
                            setTaskToDelete(task.id, task.name)
                          "
                        >
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="modal fade"
                id="exampleModal-2"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Modal title ng man
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete
                      <strong>{{ taskToDeleteName }}</strong
                      >?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteCategory()"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  