<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div class="mb-4">
        <h3 class="mb-0">Users</h3>
      </div>
    </div>
  </div>
  <div>
    <!-- row -->
    <div class="row">
      <div class="col-12">
        <!-- card -->
        <div class="card mb-4" id="contact-list">
          <div class="card-header d-lg-flex justify-content-between">
            <div class="d-grid d-lg-block">
              <a
                routerLink="/dashboard/add-employee"
                class="btn btn-primary"
                id="contact-modal-button"
                data-bs-toggle="modal"
                data-bs-target="#contact-modal"
                >+ Create New User</a
              >
            </div>
            <div class="d-flex mt-3 mt-lg-0">
              <form action="#">
                <div class="input-group">
                  <input type="search" class="form-control rounded-3 search" name="searchKeyword" placeholder="Search by employee name" [(ngModel)]="searchKeyword" (input)="search()">
                  <span class="input-group-append">
                    <button
                      class="btn ms-n10 rounded-0 rounded-end"
                      type="button"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-search text-dark"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </span>
                </div>
              </form>
              <a href="#!" class="btn btn-outline-white ms-2">Import</a>
              <a
                href="#!"
                class="btn btn-danger-soft btn-icon ms-2 texttooltip"
                data-template="trashTwo"
              >
                <i class="bi bi-trash-fill icon-xs"></i>
                <div id="trashTwo" class="d-none">
                  <span>Delete</span>
                </div>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive table-card">
              <table class="table text-nowrap mb-0 table-centered">
                <thead class="table-light">
                  <tr>
                    <th
                      class="pe-4 sort"
                      default-sort-order="asc"
                      data-sort="name"
                    >
                      ID
                    </th>
                    <th class="sort" data-sort="profile">Profile</th>
                    <th class="sort" data-sort="name">Name</th>
                    <th class="sort" data-sort="email_id">Email</th>
                    <th class="sort" data-sort="role">Role</th>
                    <th class="sort" data-sort="date">Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="list contact-list-container">
                  <tr *ngIf="loading">
                    <td colspan="5" class="mt-2 text-center">
                      <!-- colspan="5" to span across all columns -->
                      <div
                        class="spinner-border"
                        style="width: 3rem; height: 3rem"
                        role="status"
                      >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </td>
                  </tr>
                  <tr *ngFor="let employee of employees">
                    <td class="id">{{ employee.id }}</td>
                    <td class="profile"><img class="avatar-sm avatar rounded-circle" [src]="employee.imageUrl" alt="User Profile"></td>
                    <td class="name">{{ employee.name }}</td>
                    <td class="email_id">{{ employee.email }}</td>
                    <td class="role">{{ employee.roles[0]?.name }}</td>
                    <td class="date">
                      {{ employee.created_at | date : "dd" }}/{{
                        employee.created_at | date : "MMMM"
                      }}/{{ employee.created_at | date : "yyyy" }}
                    </td>
                    <td>
                      <button class="me-1 btn btn-sm btn-outline-info" routerLink="/dashboard/show-employee/{{ employee.id }}">Show</button>
                      <button class="me-1 btn btn-sm btn-outline-primary" routerLink="/dashboard/edit-employee/{{ employee.id }}">Edit</button>
                      <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModal" (click)="setEmployeeToDelete(employee.id, employee.name)">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="card-footer d-md-flex justify-content-between align-items-center"
          >
            <span id="pagination-status">Showing 1 to 8 of 12 entries</span>
            <nav class="mt-2 mt-md-0">
              <div class="d-flex justify-content-end mt-3">
                <div class="pagination-wrap hstack">
                  <a class="page-item pagination-prev" href="#"> Previous </a>
                  <ul class="pagination listjs-pagination mb-0"></ul>
                  <a class="page-item pagination-next" href="#"> Next </a>
                </div>
              </div>
            </nav>
          </div>
          <div
            class="modal fade"
            
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Delete Employee
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete employee <strong>{{ employeeToDeleteName }}</strong>?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteEmployee()">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
